.page {
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    display: grid;
    grid-template-columns: 280px 1fr; /* sidebar занимает 280px, content - всё остальное */
    grid-template-areas:
        "header header"
        "sidebar content";
    min-height: 100vh; /* растягиваем на весь экран */
}

@media screen and (max-width: 1600px) {
    .page {
        grid-template-columns: 280px 1fr; /* sidebar занимает 280px, content - всё остальное */
        grid-template-areas:
            "header header"
            "sidebar content";
    }
}

@media screen and (max-width: 800px) {
    .page {
        grid-template-columns: 1fr; /* на мобильных устройствах sidebar и content занимают всю ширину */
        grid-template-areas:
            "header"
            "sidebar"
            "content";
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield; /* Firefox */
}
