/* Blue Scheme for Users */
.module-color_users {
    background-color: #B0C4DE; /* Light steel blue */
}

.module-color__header_users {
    background-color: #4682B4; /* Darker steel blue */
}

.module-color__button_users {
    color: white;
    background: #5A6B78;
}
