{% extends "module_app/base.html" %}
{% block title %}Обзор выбранной ТПА{% endblock %}
{% block app_name %}Техническое обслуживание ТПА{% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/index.css'%}">
{% endblock %}

{% block sidepanel %}
    <a href="{% url 'tpa:index' %}" class="sidebar__item">
        <div class="sidebar__icon sidebar__icon_index"></div>
        <h3 class="sidebar__text">Обзор ТПА</h3>
    </a>
    <a href="" class="sidebar__item">
        <div class="sidebar__icon sidebar__icon_objects"></div>
        <h3 class="sidebar__text">Обзор объекта</h3>
    </a>
    <a href="{% url 'tpa:single_valve_service' valve_id %}" class="sidebar__item">
        <div class="sidebar__icon sidebar__icon_service"></div>
        <h3 class="sidebar__text">Информация о ТОиР</h3>
    </a>
    <a href="" class="sidebar__item">
        <div class="sidebar__icon sidebar__icon_help"></div>
        <h3 class="sidebar__text">Справочная информация</h3>
    </a>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <main class="content">
      <!-- основная панель -->
      <section class="main" id="main">
        <h1 class="main__title"></h1>
        <div class="card" id="{{ valve_id }}">
          <div class="card__container">
              <div class="card__header module-color__header_{{ request.resolver_match.app_name }}">
                  <h3 class="card__title">Информация о ТПА</h3>
                  <button class="button card__button card__button_edit" data-tooltip="Редактировать информацию"></button>
              </div>
              <div class="card__field" id="valve_info">
                <div class="card__line">
                  <p class="card__param">Место установки</p>
                  <p class="card__value" id="equipment"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Наименование ТПА</p>
                  <p class="card__value" id="title"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Условный проход, мм</p>
                  <p class="card__value" id="diameter"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Условное давление, кгс/см2</p>
                  <p class="card__value" id="pressure"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Тип ТПА</p>
                  <p class="card__value" id="valve_type"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Изготовитель</p>
                  <p class="card__value" id="factory"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Год изготовления</p>
                  <p class="card__value" id="year_made"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Год ввода в эксплуатацию</p>
                  <p class="card__value" id="year_exploit"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Технологический номер</p>
                  <p class="card__value" id="tech_number"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Заводской номер</p>
                  <p class="card__value" id="factory_number"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Инвентарный номер</p>
                  <p class="card__value" id="inventory_number"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Срок службы</p>
                  <p class="card__value" id="lifetime"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Дистанционное управление</p>
                  <p class="card__value" id="remote"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Марка</p>
                  <p class="card__value" id="label"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Материал корпуса</p>
                  <p class="card__value" id="material"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Исполнение</p>
                  <p class="card__value" id="design"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Тип привода</p>
                  <p class="card__value" id="drive_type"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Изготовитель привода</p>
                  <p class="card__value" id="drive_factory"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Год ввода в эксплуатацию привода</p>
                  <p class="card__value" id="drive_year_exploit"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Примечание</p>
                  <p class="card__value" id="note"></p>
                </div>
              </div>
              <div class="card__header module-color__header_{{ request.resolver_match.app_name }}">
                  <h3 class="card__title">Информация о последнем ТОиР</h3>
              </div>
              <div class="card__field" id="service_info">
                <div class="card__line">
                  <p class="card__param">Вид ТО</p>
                  <p class="card__value_unique" id="service_type"></p>
                </div>
                <div class="card__line">
                  <p class="card__param">Дата проведения</p>
                  <p class="card__value_unique" id="prod_date"></p>
                </div>
              </div>
              <div class="card__header hidden module-color__header_{{ request.resolver_match.app_name }}" id="cardFiles">
                <h3 class="card__title">Документация</h3>
                <button class="button card__button card__button_add hidden" data-tooltip="Добавить файл"></button>
              </div>
                <div class="card__files"></div>
              </div>
          <div class="card__images"></div>
        </div>
      </section>
    </main>

    <!-- всплывающее окно с фото -->
    <div class="popup popup_darker" id="popup-image">
      <div class="popup__container">
        <button class="button popup__button-close" type="button"></button>
        <img class="popup__image" src="#" alt="#">
      </div>
    </div>

    <!-- всплывающее окно с формой добавления файла -->
    <div class="popup" id="popup-file">
        <div class="popup__container">
            <button class="popup__button-close" type="button"></button>
            <form class="form-popup form-popup_wide" name="new-file" id="form-newfile" enctype="multipart/form-data">
                <h2 class="form-popup__header"></h2>
                <label class="form-popup__field">
                    <input class="form-popup__input" id="file-name" name="name" placeholder="Введите название документа" required maxlength="50" minlength="4"></input>
                    <span class="form-popup__input-error" id="file-name-error"></span>
                </label>
                <label class="form-popup__file-field">
                    <span class="form-popup__file-title">Файл:</span>
                    <input class="form-popup__input" type="file" id="work-files" name="files" accept="image/*, application/pdf">
                    <span class="form-popup__input-error" id="work-files-error"></span>
                </label>
                <progress id="progressBar" value="0" max="100"></progress>
                <div class="form-popup__container">
                    <span class="form-popup__status" id="uploadForm_Status"></span>
                    <span id="uploadForm_Size"></span>
                </div>
                <button class="form-popup__button button module-color__button_tpa" type="submit">Сохранить</button>
            </form>
        </div>
    </div>

    <template class="image-template">
        <div class="card__image-container" id="">
            <img class="card__image" src="" title="">
        </div>
    </template>

    <template class="file-template">
        <div class="card__line" id="">
            <a class="card__value_ext  link" target="_blank" data-tooltip="Открыть файл"></a>
            <button class="card__delete hidden" type="button" data-tooltip="Удалить файл">✖</button>
        </div>
    </template>

{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/singleValve.js' %}"></script>
{% endblock %}
