.header__user-proff {
    margin: 0 0 0 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

@media screen and (max-width: 360px) {
    .header__user-proff {
        font-size: 10px;
        line-height: 12px;
    }
}
