.module-color_rational {
    background-color: #EBDA9D;
}

.module-color__header_rational {
    background-color: #86753A;
}

.module-color__button_rational {
    color: white;
    background: #86753A;
}
