{% extends "rational/base_rational.html" %}

{% load static %}

{% block page_title %}Обзор плана РП на {{ plan.year }} год{% endblock %}


{% block app_content %}
    {% csrf_token %}
    <main class="content">
      <!-- основная панель -->
      <section class="main" id="main">
        <div class="card" id="{{ plan.id }}" app-name="{{ request.resolver_match.app_name }}">
            <div class="plan">

                <div class="plan__container" id="plan__container">
                <!-- Сюда будут динамически добавляться планы -->
                </div>

            </div>
            <div class="chart">
                <div class="chart__title">График выполнения годового плана</div>
                <div id="chart-annual"></div>
                <div class="chart__title">Графики выполнения квартальных планов</div>
                <div class="chart__inline">
                    <div  class="chart__item" id="chart-q1"></div>
                    <div class="chart__item" id="chart-q2"></div>
                    <div class="chart__item" id="chart-q3"></div>
                    <div class="chart__item" id="chart-q4"></div>
                </div>
            </div>
        </div>

        <!-- Шаблон для карточки годового плана -->
        <template id="plan-template">
          <div class="plan__card">
            <div class="plan__ribbon module-color_{{ request.resolver_match.app_name }}"></div> <!-- Ляссе -->
            <div class="plan__content">
              <div class="plan__info">
                <div class="plan__name"></div>
                <div class="plan__stats">
                  <div class="plan__proposals"></div>
                  <div class="plan__economy"></div>
                </div>
              </div>
              <div class="plan__quarters">
                <!-- Сюда будут добавляться квартальные планы -->
              </div>
            </div>
          </div>
        </template>

        <!-- Шаблон для квартального плана -->
        <template id="quarterly-template">
          <div class="quarter">
            <div class="quarter__number"></div>
            <div class="quarter__stats">
              <div class="quarter__proposals"></div>
              <div class="quarter__economy"></div>
            </div>
          </div>
        </template>


      </section>
    </main>

{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/apps/rational/singlePlan.js' %}"></script>
{% endblock %}
