{% extends "module_app/base.html" %}
{% block title %}Обзор плана РП на {{ plan.year }} год | {{ plan.equipment }}{% endblock %}
{% block app_name %}Рационализаторская работа{% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/single-plan.css'%}">
{% endblock %}

{% block sidepanel %}
    <a href="{% url 'rational:index' %}" class="sidebar__item">
        <div class="sidebar__icon sidebar__icon_index"></div>
        <h3 class="sidebar__text">Журнал РП</h3>
    </a>
    <a href="{% url 'rational:proposal_new' %}" class="sidebar__item">
        <div class="sidebar__icon sidebar__icon_new"></div>
        <h3 class="sidebar__text">Внести предложение</h3>
    </a>
    {% if user.role == 'admin' or user.role == 'manager' %}
        <a href="{% url 'rational:index_plan' %}" class="sidebar__item">
            <div class="sidebar__icon sidebar__icon_objects"></div>
            <h3 class="sidebar__text">Планирование</h3>
        </a>
    {% endif %}
    <a href="" class="sidebar__item">
        <div class="sidebar__icon sidebar__icon_help"></div>
        <h3 class="sidebar__text">Справочная информация</h3>
    </a>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <main class="content">
      <!-- основная панель -->
      <section class="main" id="main">
        <h1 class="main__title">Обзор плана РП на {{ plan.year }} год</h1>
        <div class="card" id="{{ plan.id }}" app-name="{{ request.resolver_match.app_name }}">
            <div class="plan">

                <div class="plan__container" id="plan__container">
                <!-- Сюда будут динамически добавляться планы -->
                </div>

            </div>
            <div class="chart">
                <div class="chart__title">График выполнения годового плана</div>
                <div id="chart-annual"></div>
                <div class="chart__title">Графики выполнения квартальных планов</div>
                <div class="chart__inline">
                    <div  class="chart__item" id="chart-q1"></div>
                    <div class="chart__item" id="chart-q2"></div>
                    <div class="chart__item" id="chart-q3"></div>
                    <div class="chart__item" id="chart-q4"></div>
                </div>
            </div>
        </div>

        <!-- Шаблон для карточки годового плана -->
        <template id="plan-template">
          <div class="plan__card">
            <div class="plan__ribbon module-color_{{ request.resolver_match.app_name }}"></div> <!-- Ляссе -->
            <div class="plan__content">
              <div class="plan__info">
                <div class="plan__name"></div>
                <div class="plan__stats">
                  <div class="plan__proposals"></div>
                  <div class="plan__economy"></div>
                </div>
              </div>
              <div class="plan__quarters">
                <!-- Сюда будут добавляться квартальные планы -->
              </div>
            </div>
          </div>
        </template>

        <!-- Шаблон для квартального плана -->
        <template id="quarterly-template">
          <div class="quarter">
            <div class="quarter__number"></div>
            <div class="quarter__stats">
              <div class="quarter__proposals"></div>
              <div class="quarter__economy"></div>
            </div>
          </div>
        </template>


      </section>
    </main>

{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/singlePlan.js' %}"></script>
{% endblock %}
