.scheme {
    width: 100%;
    border: 1px solid #6A5A8C;
    border-radius: 10px;
    overflow: auto;
    margin-top: 20px;
    /* padding-bottom: 20px; */
}

.scheme svg {
    display: block;
    min-width: 100%;
    min-height: 100%;
}

/* Общие стили для интерактивных элементов */
/* .pipe-element,
.node-element {
    transition: opacity 0.2s;
} */

.pipe-element:hover,
.node-element:hover {
    /* opacity: 0.8; */
    cursor: pointer;
}

/* Убираем стандартный тултип SVG */
.pipe-element[data-tooltip],
.node-element[data-tooltip] {
    pointer-events: auto;
}

.scheme-container {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.scheme-legend {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    gap: 15px;
}

.legend-item {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.legend-color {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border-radius: 2px;
}

/* Цвета для легенды */
.legend-pipe { background-color: #4a89dc; }
.legend-valve { background-color: #e9573f; }
.legend-connection { background-color: #37bc9b; }
.legend-bridge { background-color: #967adc; }


/* Адаптивность */
@media (max-width: 768px) {
    .scheme {
        height: 400px;
    }
}
