.tooltip {
    position: absolute;
    pointer-events: none;
    z-index: 99999;
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    max-width: 300px;
    padding: 8px 12px;
    white-space: normal;        /* Разрешаем перенос на новую строку */
    word-wrap: break-word;      /* Переносим длинные слова */
    overflow-wrap: break-word;  /* Современная альтернатива word-wrap */
    left: 700px;
    top: 70px;
}

.tooltip-visible {
    opacity: 1;
    transform: translateY(0);
}

.tooltip-glass {
    background: rgba(50, 50, 50, 0.8);
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.tooltip-content {
    line-height: 1.4;
    font-size: 12px;
    font-family: 'Inter';
}

.tooltip-bottom .tooltip-arrow {
    top: -6px;
    bottom: auto;
    transform: translateX(-50%) rotate(180deg);
}
