{% extends "module_app/base.html" %}
{% block title %}Обзор магистральных газопроводов{% endblock %}
{% block app_name %}Магистральные газопроводы{% endblock %}

{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/pipeline_styles.css'%}">
{% endblock %}

{% block sidepanel %}
    <a href="{% url 'pipelines:index' %}"
       class="sidebar__item {% if request.resolver_match.url_name == 'index' %}module-color__borders_{{ request.resolver_match.app_name }}{% endif %}">
        <div class="sidebar__icon sidebar__icon_objects"></div>
        <h3 class="sidebar__text">Схема магистральных газопроводов</h3>
    </a>
    <a href="{% url 'pipelines:repairs' %}"
       class="sidebar__item {% if request.resolver_match.url_name == 'repairs' %}module-color__borders_{{ request.resolver_match.app_name }}{% endif %}">
        <div class="sidebar__icon sidebar__icon_service"></div>
        <h3 class="sidebar__text">Обзор ремонтов</h3>
    </a>
    <a href="{% url 'pipelines:diagnostics' %}"
       class="sidebar__item {% if request.resolver_match.url_name == 'diagnostics' %}module-color__borders_{{ request.resolver_match.app_name }}{% endif %}">
        <div class="sidebar__icon sidebar__icon_edit"></div>
        <h3 class="sidebar__text">Диагностика МГ</h3>
    </a>
    <a href="{% url 'pipelines:plans' %}"
       class="sidebar__item {% if request.resolver_match.url_name == 'plans' %}module-color__borders_{{ request.resolver_match.app_name }}{% endif %}">
        <div class="sidebar__icon sidebar__icon_index"></div>
        <h3 class="sidebar__text">Планирование</h3>
    </a>
    {% block app_specific_sidepanel %}{% endblock %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    {% block app_content %}{% endblock %}
{% endblock %}


{% block script %}
    {% block app_script %}{% endblock %}
{% endblock %}
