{% extends "module_app/base.html" %}
{% block title %}Обзор магистральных газопроводов{% endblock %}
{% block app_name %}Магистральные газопроводы{% endblock %}

{% load static %}
{% load render_table from django_tables2 %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/index_pipelines.css'%}">
{% endblock %}

{% block sidepanel %}
    <a href="" class="sidebar__item">
        <div class="sidebar__icon sidebar__icon_objects"></div>
        <h3 class="sidebar__text">Обзор ремонтов</h3>
    </a>
    <a href="" class="sidebar__item">
        <div class="sidebar__icon sidebar__icon_help"></div>
        <h3 class="sidebar__text">Справочная информация</h3>
    </a>
{% endblock %}

{% block content %}
{% csrf_token %}
<main class="content">
  <section class="main" id="main">
    <h1 class="main__title">Обзор магистральных газопроводов</h1>
    <div class="scheme" id="scheme"></div>
  </section>
</main>

<div class="popup" id="popup-pipe-statechange">
    <div class="popup__container">
        <button class="popup__button-close" type="button"></button>
        <form class="form-popup" name="state-change" id="form-pipe-statechange">
            <h2 class="form-popup__header"></h2>
            <label class="form-popup__field">
                <select class="form-popup__input" id="state_type" name="state_type">
                    {% for value, label in state_choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
                <span class="form-popup__input-error" id="state_type-error"></span>
            </label>
            <label class="form-popup__field">
                <input class="form-popup__input" id="start_date" type="date" required name="start_date">
                <span class="form-popup__input-error" id="start_date-error"></span>
            </label>
            <label class="form-popup__field">
                <textarea class="form-popup__input" id="state-description" name="description" rows="5" placeholder="При необходимости введите дополнительную информацию" maxlength="500" minlength="7"></textarea>
                <span class="form-popup__input-error" id="state-description-error"></span>
            </label>
            <button class="form-popup__button button module-color__button_pipelines" type="submit">Сохранить</button>
        </form>
    </div>
</div>

<div class="popup" id="popup-node-statechange">
    <div class="popup__container">
        <button class="popup__button-close" type="button"></button>
        <form class="form-popup" name="state-change" id="form-node-statechange">
            <h2 class="form-popup__header"></h2>
            <label class="form-popup__field">
                <select class="form-popup__input" id="state_type" name="state_type">
                    <option value="open">Открыто</option>
                    <option value="closed">Закрыто</option>
                </select>
                <span class="form-popup__input-error" id="state_type-error"></span>
            </label>
            <label class="form-popup__field">
                <textarea class="form-popup__input" id="description" name="description" rows="5" placeholder="При необходимости введите дополнительную информацию" maxlength="500" minlength="7"></textarea>
                <span class="form-popup__input-error" id="description-error"></span>
            </label>
            <button class="form-popup__button button module-color__button_pipelines" type="submit">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/indexPipelines.js' %}"></script>
{% endblock %}
