{% extends "pipelines/base_pipelines.html" %}

{% load static %}

{% block page_title %}Обзор работ по ВТД{% endblock %}

{% load render_table from django_tables2 %}
{% load pipelines_filters %}

{% block app_specific_sidepanel %}
    <form id="filter_submit" class="sidebar__form">
        {% for field in filter.form %}
            <div class="sidebar__form-field">
                <label for="" class="sidebar__form-label">{{ field.label }}</label>
                {{ field|addclass:'sidebar__form-input' }}
            </div>
        {% endfor %}
        <button type="submit" class="sidebar__button button button_dark-green">Применить</button>
    </form>
    <a class="link_simple" href="{% url 'pipelines:diagnostics' %}">
        <button class="sidebar__button button button_dark-red sidebar__button_mar-bottom">Сбросить</button>
    </a>
{% endblock %}

{% block app_content %}
    {% csrf_token %}
    <main class="content">
        <section class="main" id="main">
            {% render_table table %}
        </section>
    </main>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/apps/pipelines/pipelinesDiagnostics.js' %}"></script>
{% endblock %}
