.table_tpa tr:hover {
    background-color: #9AC999;
    cursor: pointer;
}

.table_tpa th {
    font-weight: 300;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #648763;
    color: white;
  }
