<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Регистрация и учёт утечек газа">
        <meta name="keywords" content="html, css">
        <meta name="author" content="Сайгин Алексей">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} | Module</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/pages/base_styles.css'%}">
        <link rel="stylesheet" href="{% static 'css/pages/admin_styles.css'%}">
        {% block style %}{% endblock %}
    </head>

    <body>

        <div class="page">
        <!-- loader -->
        {% include 'module_app/base_ext/loader.html' %}

        <!-- хэдер -->
        <header class="header" id="header">
            <a href="" class="header__app module-color_{{ request.resolver_match.app_name }}" id="menu-apps">
                <div class="sidebar__icon sidebar__icon_app"></div>
                <h3 class="sidebar__text">{% block app_name %}{% endblock %}</h3>
            </a>
            <div class="header__title"></div>
            <a class="header__link_no-transparent" href="{% url 'logout' %}" data-tooltip="Выйти из системы">
                <div class="header__auth">
                    <div class="header__userinfo">
                        <p class="header__username"></p>
                        <p class="header__user-proff"></p>
                    </div>
                    <img class="header__avatar" src="{% static 'img/avatar.png' %}" alt="Аватар">
                </div>
            </a>
        </header>

        <!-- боковая панель -->
        <section  class="sidebar" id="sidebar">
            <div class="sidebar__panel">
                {% block sidepanel %}{% endblock %}
            </div>
        </section>

        <!-- главный контент -->
        {% block content %}{% endblock %}

        </div>

    </body>

    <script type="module" src="{% static 'js/apps/notifications/Polling.js' %}"></script>
    <script type="module" src="{% static 'js/mainMenu.js' %}"></script>
    <script type="module" src="{% static 'js/Tooltip.js' %}"></script>
    {% block script %}{% endblock %}

</html>
