.images__display {
    max-width: 75vw;
    max-height: 70vh;
    border-radius: 10px 10px 0 0;
}

.images__display::before { /* обработка невалидной ссылки */
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    background-image: url(../../../../img/error.jpg);
    background-size: cover;
}
