{% extends "module_app/base.html" %}

{% block title %}Планёрка{% endblock %}

{% block app_name %}Планёрка{% endblock %}

{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/pages/plans_styles.css'%}">
{% endblock %}

{% block sidepanel %}
    <!-- Общие элементы для ВСЕХ шаблонов приложения plans -->
    <a href="{% url 'plans:orders' %}"
       class="sidebar__item {% if request.resolver_match.url_name == 'orders' %}module-color__borders_{{ request.resolver_match.app_name }}{% endif %}">
        <div class="sidebar__icon sidebar__icon_info"></div>
        <h3 class="sidebar__text">Приказы</h3>
    </a>
    <a href="{% url 'plans:protocols' %}"
       class="sidebar__item {% if request.resolver_match.url_name == 'protocols' %}module-color__borders_{{ request.resolver_match.app_name }}{% endif %}">
        <div class="sidebar__icon sidebar__icon_objects"></div>
        <h3 class="sidebar__text">Протоколы совещаний</h3>
    </a>
    <a href="{% url 'plans:reports' %}"
       class="sidebar__item {% if request.resolver_match.url_name == 'reports' %}module-color__borders_{{ request.resolver_match.app_name }}{% endif %}">
        <div class="sidebar__icon sidebar__icon_index"></div>
        <h3 class="sidebar__text">Отчёты</h3>
    </a>
    <a href="{% url 'plans:inspects' %}"
       class="sidebar__item {% if request.resolver_match.url_name == 'inspects' %}module-color__borders_{{ request.resolver_match.app_name }}{% endif %}" id="addNewReportBtn">
        <div class="sidebar__icon sidebar__icon_service"></div>
        <h3 class="sidebar__text">Устранение замечаний</h3>
    </a>
    <!-- <a class="sidebar__item">
        <div class="sidebar__icon sidebar__icon_new"></div>
        <h3 class="sidebar__text">ЭПБ</h3>
    </a>
    <a class="sidebar__item" id="addNewReportBtn">
        <div class="sidebar__icon sidebar__icon_doc"></div>
        <h3 class="sidebar__text">Выполнение распоряжений</h3>
    </a> -->

    {% block app_specific_sidepanel %}{% endblock %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    {% block app_content %}{% endblock %}
{% endblock %}


{% block script %}
    {% block app_script %}{% endblock %}
{% endblock %}
