{% extends "plans/base_plans.html" %}

{% load static %}

{% block page_title %}Обзор филиала{% endblock %}

{% block app_content %}
<main class="content">

<div class="dashboard">

    <div class="stat-card">
        <div class="stat-title">Утечки газа</div>
        <div class="stat-value red">13</div>
    </div>

    <div class="stat-card">
        <div class="stat-title">Замечания</div>
        <div class="stat-value">34</div>
    </div>

    <div class="widget">
        <div class="widget-title">Аудиты</div>
        <ul class="events">
            <li>01.04.2026 - Диагностика АКБ СПТ</li>
            <li>18.05.2026 - АПК - 4 уровня</li>
            <li>06.07.2026 - Проверка Газнадзор</li>
        </ul>
    </div>

    <div class="widget large" id="rational" plan_id="{{ rational_plan.id }}">
        <div class="widget-title">Рационализаторская работа</div>
        <div class="chart">
            <div id="chart-annual" class="chart__inline"></div>
            <div class="chart__inline">
                <div id="chart-q" class="chart__item"></div>
            </div>
        </div>
    </div>


    <div class="widget large">
        <div class="widget-title">Работы на сегодня</div>

        <ul class="work-list">
            <li>ЛЭС - Подготовка ТПА Ду300 (3 шт.) для гидроиспытаний</li>
            <li>ГКС, КЦ-5,6 - Техническое обслуживание (ТО-1) ТПА узла подключения КЦ-5</li>
            <li>ГКС, КЦ-1,4 - ВТД КЦ-1, пескоструйная бработка ТПА АВО газа.</li>
            <li>ЭВС - Ремонт электродвигателя АВО газа КЦ-7</li>
        </ul>

    </div>

    <div class="widget large">
        <div class="widget-title">Последние события</div>
        <ul class="events">
            <li>30.03.2026 - Добавлена утечка газа</li>
            <li>26.03.2026 - Зарегистрировано новое РП</li>
            <li>20.03.2026 - Обновлен статус замечания Газнадзор</li>
        </ul>
    </div>

</div>


</main>

{% endblock %}

{% block app_script %}
    <script type="module" src="{% static 'js/apps/plans/indexPlans.js' %}"></script>
{% endblock %}
