{% extends "plans/base_plans.html" %}

{% load static %}
{% load render_table from django_tables2 %}
{% load plans_filters %}


{% block page_title %}Обзор приказов{% endblock %}


{% block page_btns %}
    <div class="header__buttons module-color_{{ request.resolver_match.app_name }}">
        {% if user.role == 'admin' %}
            <div class="header__btn header__btn_add" aria-label="Добавить новый приказ" data-tooltip="Добавить новый приказ" id="addNewDocBtn"></div>
        {% endif %}
        <div class="header__btn header__btn_list" aria-label="Показать все мероприятия" data-tooltip="Просмотр всех мероприятий" id="showAllEventsBtn"></div>
    </div>
{% endblock %}



{% block app_specific_sidepanel %}
    <form id="filter_submit" class="sidebar__form">
        {% for field in filter.form %}
            <div class="sidebar__form-field">
                <label for="" class="sidebar__form-label">{{ field.label }}</label>
                {{ field|addclass:'sidebar__form-input' }}
            </div>
        {% endfor %}
        <button type="submit" class="sidebar__button button module-color__button_plans">Применить</button>
    </form>
    <a class="link_simple" href="{% url 'plans:orders' %}">
        <button class="sidebar__button button button_dark-red sidebar__button_mar-bottom">Сбросить</button>
    </a>
{% endblock %}

{% block app_content %}
    <main class="content" id="orders" data-category="order">
    <section class="main" id="main">
        {% render_table table %}
    </section>
    </main>

    <div class="popup" id="popup-add-doc">
        <div class="popup__container">
            <button class="popup__button-close" type="button"></button>
            <form class="form-popup" name="add-doc" id="form-add-doc">
                <h2 class="form-popup__header"></h2>
                <label class="form-popup__field">
                    <input class="form-popup__input" id="title" name="title" placeholder="Введите название приказа" required>
                    <span class="form-popup__input-error" id="title-error"></span>
                </label>
                <label class="form-popup__field">
                    <input class="form-popup__input" id="num_doc" name="num_doc" placeholder="Введите номер приказа">
                    <span class="form-popup__input-error" id="num_doc-error"></span>
                </label>
                <label class="form-popup__field">
                    <input class="form-popup__input" id="date_doc" type="date" name="date_doc" required>
                    <span class="form-popup__input-error" id="date_doc-error"></span>
                </label>
                <label class="form-popup__field">
                    <input class="form-popup__input" id="subject" name="subject" placeholder="Введите тему" data-tooltip="Например: РПО, Общие вопросы и т.д." required>
                    <span class="form-popup__input-error" id="subject-error"></span>
                </label>
                <button class="form-popup__button button module-color__button_plans" type="submit">Сохранить</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block app_script %}
    <script type="module" src="{% static 'js/apps/plans/indexDocuments.js' %}"></script>
{% endblock %}
