.header__app {
  display: flex;
  position: relative;
  align-items: center;
  min-width: 216px;
  height: 44px;
  margin-left: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  transition: box-shadow .1s linear .1s, transform .1s linear .1s;
}

.header__app:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

@media screen and (max-width: 800px) {
  .header__app {
    margin-right: 15px;
    min-width: 180px;
  }
}
